/*
 * SIZE
 */
$size__header_height: 120px;
$size__left_sidebar_width: $size__header_height*.6;
$size__header_font: 30px;
$size__right_sidebar_width: $size__left_sidebar_width*3;
$size__delimitador_width: 1px;
/*
 * COLOR
 */
$color__header: rgba(142, 142, 142, 0.4);
$color__pink: #f92b6d;
$color__lime: #9ddd61;
$color__pink_hightlight: red;
$color__main_bg: #faf7f6;
$color__lightgrey: #E8E8E7;
